{%- doc -%}
  Renders the search action button.

  @param {string} [style] - The style of the search action.
  @param {string} [class] - Additional classes for the search action.

  @example
  {% render 'search', style: 'default', class: 'custom-class' %}
{%- enddoc -%}

{% unless style == 'none' %}
  <search-button class="search-action{% if class != blank %} {{ class | strip }}{% endif %}">
    <button
      on:click="#search-modal/showDialog"
      class="button button-unstyled search-modal__button header-actions__action"
      aria-label="{{ 'content.search_input_label' | t }}"
      aria-haspopup="dialog"
    >
      <span
        aria-hidden="true"
        class="svg-wrapper"
      >
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 30 30" fill="none">
          <path d="M13.9998 22.0001C18.418 22.0001 21.9996 18.4183 21.9996 14C21.9996 9.58174 18.418 6 13.9998 6C9.58163 6 6 9.58174 6 14C6 18.4183 9.58163 22.0001 13.9998 22.0001Z" stroke="#F4ECD0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
          <path d="M24 24L19.6501 19.65" stroke="#F4ECD0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
      </span>
    </button>
  </search-button>
{% endunless %}

{% stylesheet %}
  .search-action {
    --search-border-radius: var(--style-border-radius-inputs);
    --search-border-width: var(--style-border-width-inputs);

    display: flex;
  }

  .header__column--center .search-action {
    width: auto;
    flex-grow: 1;
  }

  :is(.header__column--left, .header__column--center) .search-action {
    @media screen and (min-width: 750px) {
      margin-inline: calc(var(--padding-lg) * -1);
    }
  }

  .header__column--right .search-action {
    @media screen and (min-width: 750px) {
      margin-inline: calc(var(--gap-md) * -1) calc(var(--gap-xs) * -1);
    }
  }
{% endstylesheet %}
