.image-coll img {
    width: 100%;
    height: auto;
}

.mob-banner {
    display: none;
}

@media screen and (max-width:640px) {
    .desk-banner {
        display: none;
    }

    .mob-banner {
        display: block;
    }
}