  .page-width-content .text-block h1 {
    font-family: Heebo-Medium;
    font-weight: 500;
    letter-spacing: 0.25px;
    line-height: 40px;
  }
  
  .page-width-content rte-formatter {
    * {
        font-size: clamp(12px, calc(14 * (100vw / 1440)), 16px);
        line-height: 20px;
        letter-spacing: 0.04px;
        color: #000000;
        font-family: 'Heebo-Regular';
    }

    h1 b,h1 strong, h1{
        margin: 0;
        font-family: Heebo-Regular;
        font-size: 1.250vw;

        @media only screen and (max-width: 700px){
          font-size: 16px;
        }
    }

    h2 strong, h2 b,h2 {
        font-size: clamp(14px, calc(22 * (100vw / 1440)), 25px);
    line-height: 28px;
    letter-spacing: 0.65px;
    color: #000000;
    font-family: 'Heebo-Medium';
    font-weight: 500;
    }

    h2 b{
        font-weight: 700;
    }


    h2 {
      margin: 16px 0 0 0;
    }

    h2 span{
        font-weight: 400;
    }

    h3, h3 * {
      font-family: 'Heebo-Regular';
      font-size: 1.250vw;
      color: #000303;
      font-weight: 400;

      @media only screen and (max-width: 700px){
        font-size: 16px;
        line-height: 120%;
      }
    }

    h3 b{
      font-weight: 700;
    }

    p {
      padding: 8px 0 0 0;
      margin: 0 !important;
    }

    ul {
      padding: 8px 0 0 20px;
      margin: 0 !important;

      @media only screen and (max-width: 700px){
        padding: 4px 0 0 20px;
      }

      p {
        padding-top: 16px;
      }
    }

    p a.link-btn, p a.link-bg-btn {
      min-width: 299px;
      @media only screen and (max-width: 700px){
        min-width: unset;
      }
    }

    a {
        color: rgba(72, 47, 143, 0.8);
        text-decoration: none;
    }

    .rte-table-wrapper table {
        width: 502px !important;
       border: 1px solid rgba(18,18,18,.2);
    }

    .rte-table-wrapper table tbody tr td:nth-child(2) {
        border-left: 1px solid rgba(18,18,18,.2);
    }
}